@import 'styles/colors';

.container {
  padding-top: 40px;
  padding-bottom: 80px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border: 5px solid color(brown, light);
  border-radius: 8px;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: color(brown, base);
  }
}

.label {
  font-size: 14px;
  color: color(grey, 600);
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 6px;
}
